# Entorno virtual
venv/
.venv/
env/

# Archivos temporales de Python y caché
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local (contiene datos de prueba/sensibles)
db.sqlite3

# Archivos de configuración del editor (VS Code)
.vscode/
.idea/

# Archivos de variables de entorno (credenciales/claves)
.env